<svg
  class="logo"
  viewBox="0 0 76 60"
  aria-hidden="true"
  focusable="false"
  xmlns="http://www.w3.org/2000/svg"
>
  <g class="web-page">
    <rect class="page-background" x="4" y="5" width="49" height="39" rx="5" />
    <path class="page-outline" d="M9 5h39a5 5 0 0 1 5 5v29a5 5 0 0 1-5 5H9a5 5 0 0 1-5-5V10a5 5 0 0 1 5-5Z" />
    <path class="browser-bar" d="M4 15h49" />
    <circle class="browser-dot dot-one" cx="10" cy="10" r="1.6" />
    <circle class="browser-dot dot-two" cx="16" cy="10" r="1.6" />
    <circle class="browser-dot dot-three" cx="22" cy="10" r="1.6" />
    <path class="content-line" d="M11 22h24M11 28h18M11 34h27" />
  </g>

  <g class="magnifier">
    <circle class="lens-fill" cx="48" cy="32" r="17" />
    <circle class="lens" cx="48" cy="32" r="17" />
    <path class="handle" d="m60 44 12 12" />
    <path class="check" d="m39.5 32 5.5 5.5 11-12" />
    <path class="cross" d="m41 25 14 14m0-14L41 39" />
  </g>
</svg>
